---
http_interactions:
- request:
    method: get
    uri: http://api.corpwatch.org/companies.json?company_name=bank&key=c925c0538a0d3651b1e738c926147349
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"meta":{"success":1,"status":200,"status_string":"Success","total_results":"3250","results_complete":0,"api_version":"0.04 (2015-09-14)","parameters":{"company_name":"bank","limit":100,"index":0,"year":"most_recent"}},"result":{"companies":{"cw_682170":{"cw_id":"cw_682170","cik":"1541523","company_name":"1st Financial Bank USA","irs_number":"460133740","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"363 WEST ANCHOR DRIVE, DAKOTA DUNES SD 57049","country_code":"US","subdiv_code":"SD","top_parent_id":"cw_682170","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2012"},"cw_678896":{"cw_id":"cw_678896","cik":"1034938","company_name":"1ST MARINER BANK","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"1501 S. CLINTON STREET, 16TH FLOOR, BALTIMORE MD 21224","country_code":"US","subdiv_code":"MD","top_parent_id":"cw_678896","num_parents":"0","num_children":"0","max_year":"2012","min_year":"2012"},"cw_243517":{"cw_id":"cw_243517","cik":"910519","company_name":"1ST NATIONAL BANK & TRUST","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"5817 MANATEE AVE WEST, BRADENTON FL 34209","country_code":"US","subdiv_code":"FL","top_parent_id":"cw_243517","num_parents":"0","num_children":"0","max_year":"2006","min_year":"2003"},"cw_2916":{"cw_id":"cw_2916","cik":"356264","company_name":"1ST SOURCE BANK","irs_number":"351068133","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"PO BOX 1602, SOUTH BEND IN 46634","country_code":"US","subdiv_code":"IN","top_parent_id":"cw_2916","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2003"},"cw_240328":{"cw_id":"cw_240328","cik":"841214","company_name":"1ST SOURCE BANK","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"No location available","country_code":null,"subdiv_code":null,"top_parent_id":"cw_240328","num_parents":"0","num_children":"0","max_year":"2007","min_year":"2003"},"cw_580605":{"cw_id":"cw_580605","cik":"805677","company_name":"1ST SOURCE BANK","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"100 N MICHIGAN, SOUTH BEND IN 46601","country_code":"US","subdiv_code":"IN","top_parent_id":"cw_580605","num_parents":"0","num_children":"0","max_year":"2009","min_year":"2003"},"cw_695610":{"cw_id":"cw_695610","cik":"1558012","company_name":"1st Source Bank as trustee of the Irrevocable Charitable Living Trust Created By Ella L. Morris Designated as Trust No. 21 3673 dtd January 22 1965","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"C\/O 1ST SOURCE BANK, 100 NORTH MICHIGAN STREET, SOUTH BEND IN 46601","country_code":"US","subdiv_code":"IN","top_parent_id":"cw_695610","num_parents":"0","num_children":"0","max_year":"2012","min_year":"2012"},"cw_695612":{"cw_id":"cw_695612","cik":"1558017","company_name":"1st Source Bank as trustee of the Irrevocable Charitable Living Trust Created By Ella L. Morris Designated as Trust No. 213653 dtd December 24 1964","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"C\/O 1ST SOURCE BANK, 100 NORTH MICHIGAN STREET, SOUTH BEND IN 46601","country_code":"US","subdiv_code":"IN","top_parent_id":"cw_695612","num_parents":"0","num_children":"0","max_year":"2012","min_year":"2012"},"cw_695609":{"cw_id":"cw_695609","cik":"1558011","company_name":"1st Source Bank as trustee of the Irrevocable Living Trust Created by Ella L. Morris Designated as Trust No. 21 3753 dated August 20 1965","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"C\/O 1ST SOURCE BANK, 100 NORTH MICHIGAN STREET, SOUTH BEND IN 46601","country_code":"US","subdiv_code":"IN","top_parent_id":"cw_695609","num_parents":"0","num_children":"0","max_year":"2012","min_year":"2012"},"cw_695589":{"cw_id":"cw_695589","cik":"1557982","company_name":"1st Source Bank as trustee of the Irrevocable Living Trust Created by Ella L. Morris Designated as Trust No. P 2877 dated August 6 1960","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"C\/O 1ST SOURCE BANK, 100 NORTH MICHIGAN STREET, SOUTH BEND IN 46601","country_code":"US","subdiv_code":"IN","top_parent_id":"cw_695589","num_parents":"0","num_children":"0","max_year":"2012","min_year":"2012"},"cw_695618":{"cw_id":"cw_695618","cik":"1558024","company_name":"1st Source Bank as trustee of the Irrevocable Living Trust Created by Ella L. Morris Designated as Trust No. P 2879 dated August 6 1960","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"C\/O 1ST SOURCE BANK, 100 NORTH MICHIGAN STREET, SOUTH BEND IN 46601","country_code":"US","subdiv_code":"IN","top_parent_id":"cw_695618","num_parents":"0","num_children":"0","max_year":"2012","min_year":"2012"},"cw_695613":{"cw_id":"cw_695613","cik":"1558018","company_name":"1st Source Bank as trustee of the Irrevocable Living Trust Created for Carmen C. Murphy by Ernestine M. Carmichael dated October 27 1964","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"C\/O 1ST SOURCE BANK, 100 NORTH MICHIGAN STREET, SOUTH BEND IN 46601","country_code":"US","subdiv_code":"IN","top_parent_id":"cw_695613","num_parents":"0","num_children":"0","max_year":"2012","min_year":"2012"},"cw_695614":{"cw_id":"cw_695614","cik":"1558019","company_name":"1st Source Bank as trustee of the Irrevocable Living Trust Created for Oliver C. Carmichael III by Ernestine M. Carmichael dated October 27 1964","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"C\/O 1ST SOURCE BANK, 100 NORTH MICHIGAN STREET, SOUTH BEND IN 46601","country_code":"US","subdiv_code":"IN","top_parent_id":"cw_695614","num_parents":"0","num_children":"0","max_year":"2012","min_year":"2012"},"cw_695590":{"cw_id":"cw_695590","cik":"1557983","company_name":"1st Source Bank as trustee of the irrevocable trust created by Ella L. Morris dated April 28 1932","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"C\/O 1ST SOURCE BANK, 100 NORTH MICHIGAN STREET, SOUTH BEND IN 46601","country_code":"US","subdiv_code":"IN","top_parent_id":"cw_695590","num_parents":"0","num_children":"0","max_year":"2012","min_year":"2012"},"cw_695763":{"cw_id":"cw_695763","cik":"1558396","company_name":"1st Source Bank as trustee of Trust No. 11 & Trust No. 12 held under the Revocable Living Trust Created by Ella L. Morris dated October 12 1965","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"C\/O 1ST SOURCE BANK, 100 NORTH MICHIGAN STREET, SOUTH BEND IN 46601","country_code":"US","subdiv_code":"IN","top_parent_id":"cw_695763","num_parents":"0","num_children":"0","max_year":"2012","min_year":"2012"},"cw_695591":{"cw_id":"cw_695591","cik":"1557984","company_name":"1st Source Bank Tee Carmen C. Murphy Trust Oliver C. Carmichael III Trust Ernestine C. Nickle Trust & Stanley C. Carmichael Trust U\/A dtd 10","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"C\/O 1ST SOURCE BANK, 100 NORTH MICHIGAN STREET, SOUTH BEND IN 46601","country_code":"US","subdiv_code":"IN","top_parent_id":"cw_695591","num_parents":"0","num_children":"0","max_year":"2012","min_year":"2012"},"cw_695592":{"cw_id":"cw_695592","cik":"1557985","company_name":"1st Source Bank Tee Carmen C. Murphy Trust Oliver C. Carmichael III Trust Ernestine C. Nickle Trust & Stanley C. Carmichael Trust U\/A dtd 3","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"C\/O 1ST SOURCE BANK, 100 NORTH MICHIGAN STREET, SOUTH BEND IN 46601","country_code":"US","subdiv_code":"IN","top_parent_id":"cw_695592","num_parents":"0","num_children":"0","max_year":"2012","min_year":"2012"},"cw_695593":{"cw_id":"cw_695593","cik":"1557986","company_name":"1st Source Bank Tee of the Trusts for Oliver C. Carmichael III Stanley C. Carmichael Carmen C. Murphy & Ernestine C. Nickle U\/A dtd 7\/2\/1971","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"C\/O 1ST SOURCE BANK, 100 NORTH MICHIGAN STREET, SOUTH BEND IN 46601","country_code":"US","subdiv_code":"IN","top_parent_id":"cw_695593","num_parents":"0","num_children":"0","max_year":"2012","min_year":"2012"},"cw_67914":{"cw_id":"cw_67914","cik":"1443943","company_name":"21 E FRONT STREET RED BANK LP","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"237 PARK AVENUE, NINTH FLOOR, NEW YORK NY 10017","country_code":"US","subdiv_code":"NY","top_parent_id":"cw_67914","num_parents":"0","num_children":"0","max_year":"2008","min_year":"2008"},"cw_668302":{"cw_id":"cw_668302","cik":"1532638","company_name":"Aareal Bank AG","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"120 BROADWAY, 32ND FLOOR, NEW YORK NY 10271","country_code":"US","subdiv_code":"NY","top_parent_id":"cw_668302","num_parents":"0","num_children":"0","max_year":"2011","min_year":"2011"},"cw_58345":{"cw_id":"cw_58345","cik":"1425916","company_name":"ABINGTON BANK EMPLOYEE STOCK OWNERSHIP PLAN TRUST","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"180 OLD YORK ROAD, JENKINTOWN PA 19046","country_code":"US","subdiv_code":"PA","top_parent_id":"cw_58345","num_parents":"0","num_children":"0","max_year":"2011","min_year":"2008"},"cw_294976":{"cw_id":"cw_294976","cik":"1238161","company_name":"ABN AMRO BANK NV NEW YORK BRANCH","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"500 PARK AVENUE, NEW YORK NY 10022","country_code":"US","subdiv_code":"NY","top_parent_id":"cw_294976","num_parents":"0","num_children":"0","max_year":"2003","min_year":"2003"},"cw_252422":{"cw_id":"cw_252422","cik":"1056565","company_name":"FRONTIER TRUST Co FSB","irs_number":"450373941","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"90 STATE HOUSE SQUARE, HARTFORD CT 06103","country_code":"US","subdiv_code":"CT","top_parent_id":"cw_252422","num_parents":"0","num_children":"0","max_year":"2006","min_year":"2003"},"cw_37715":{"cw_id":"cw_37715","cik":"1307124","company_name":"African Bank Investments LTD","irs_number":"0","sic_code":"8880","industry_name":"American depositary receipts","sic_sector":"8800","sector_name":"Private households","source_type":"filers","raw_address":"59 16TH ROAD, MIDRAND, PRIVATE BAG X170, MIDRAND 1685 T3 1685","country_code":"ZA","subdiv_code":null,"top_parent_id":"cw_37715","num_parents":"0","num_children":"0","max_year":"2008","min_year":"2004"},"cw_4742":{"cw_id":"cw_4742","cik":"785677","company_name":"AFRICAN DEVELOPMENT BANK","irs_number":"0","sic_code":"8880","industry_name":"American depositary receipts","sic_sector":"8800","sector_name":"Private households","source_type":"filers","raw_address":"TEMPORARY RELOCATION AGENCY, BP 323 1002 TUNIS BLVD, TUNIS W6 00000","country_code":"TN","subdiv_code":null,"top_parent_id":"cw_4742","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2003"},"cw_617304":{"cw_id":"cw_617304","cik":"1501437","company_name":"Agricultural Bank of China Ltd","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"120 BROADWAY, 32ND FLOOR, NEW YORK NY 10271","country_code":"US","subdiv_code":"NY","top_parent_id":"cw_617304","num_parents":"0","num_children":"0","max_year":"2014","min_year":"2010"},"cw_64500":{"cw_id":"cw_64500","cik":"1437197","company_name":"Agricultural Bank of Greece SA","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"120 BROADWAY, 32ND FLOOR, NEW YORK NY 10271","country_code":"US","subdiv_code":"NY","top_parent_id":"cw_64500","num_parents":"0","num_children":"0","max_year":"2008","min_year":"2008"},"cw_636902":{"cw_id":"cw_636902","cik":"1518629","company_name":"Alabama Conditional Bank","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"3680 Grandview Parkway, Suite 200, Birmingham AL 35243","country_code":"US","subdiv_code":"AL","top_parent_id":"cw_636902","num_parents":"0","num_children":"0","max_year":"2011","min_year":"2011"},"cw_687606":{"cw_id":"cw_687606","cik":"1548025","company_name":"Aldermore Bank PLC","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"4TH FLOOR, BLOCK D, APEX PLAZA, FORBURY ROAD, READING X0 RG1 1AX","country_code":"GB","subdiv_code":null,"top_parent_id":"cw_687606","num_parents":"0","num_children":"0","max_year":"2012","min_year":"2012"},"cw_759075":{"cw_id":"cw_759075","cik":"1576585","company_name":"Alior Bank S.A.","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"120 BROADWAY, 32ND FLOOR, NEW YORK NY 10271","country_code":"US","subdiv_code":"NY","top_parent_id":"cw_759075","num_parents":"0","num_children":"0","max_year":"2013","min_year":"2013"},"cw_286807":{"cw_id":"cw_286807","cik":"1218644","company_name":"ALLEGIANT BANK","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"100 SOUTH BRENTWOOD BLVD, SUITE 100, CLAYTON MO 63105","country_code":"US","subdiv_code":"MO","top_parent_id":"cw_580561","num_parents":"1","num_children":"0","max_year":"2004","min_year":"2003"},"cw_677620":{"cw_id":"cw_677620","cik":"1540449","company_name":"ALLIANCE BANK EMPLOYEE STOCK OWNERSHIP PLAN","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"541 LAWRENCE ROAD, BROOMALL PA 19008","country_code":"US","subdiv_code":"PA","top_parent_id":"cw_677620","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2012"},"cw_637127":{"cw_id":"cw_637127","cik":"1518952","company_name":"AloStar Bank of Commerce","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"3680 Grandview Parkway, Suite 200, Birmingham AL 35243","country_code":"US","subdiv_code":"AL","top_parent_id":"cw_637127","num_parents":"0","num_children":"0","max_year":"2014","min_year":"2011"},"cw_806975":{"cw_id":"cw_806975","cik":"1611785","company_name":"AloStar Bank of Commerce\/G Fin","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"3680 Grandview Parkway, Suite 200, Birmingham AL 35243","country_code":"US","subdiv_code":"AL","top_parent_id":"cw_806975","num_parents":"0","num_children":"0","max_year":"2014","min_year":"2014"},"cw_9146":{"cw_id":"cw_9146","cik":"902102","company_name":"ALPHA BANK AE","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"40, STADIOU STREET, ATHENS J3 102 52","country_code":"GR","subdiv_code":null,"top_parent_id":"cw_9146","num_parents":"0","num_children":"0","max_year":"2014","min_year":"2003"},"cw_244103":{"cw_id":"cw_244103","cik":"919192","company_name":"AMALGAMATED BANK","irs_number":"134920330","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"275 SEVENTH AVENUE, 9TH FLOOR, NEW YORK NY 10001","country_code":"US","subdiv_code":"NY","top_parent_id":"cw_244103","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2003"},"cw_263645":{"cw_id":"cw_263645","cik":"1137604","company_name":"AMALGAMATED BANK LONGVIEW FUNDS","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"275 SEVENTH AVENUE, NEW YORK NY 10001","country_code":"US","subdiv_code":"NY","top_parent_id":"cw_263645","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2005"},"cw_15313":{"cw_id":"cw_15313","cik":"1053013","company_name":"AMARILLO NATIONAL BANK","irs_number":"756098299","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"401 S TAYLOR, AMARILLO TX 79101","country_code":"US","subdiv_code":"TX","top_parent_id":"cw_15313","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2003"},"cw_13669":{"cw_id":"cw_13669","cik":"1027846","company_name":"AMCORE BANK N A","irs_number":"363711688","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"501 SEVENTH STREET, PO BOX 1537, ROCKFORD IL 61110-1537","country_code":"US","subdiv_code":"IL","top_parent_id":"cw_13669","num_parents":"0","num_children":"0","max_year":"2010","min_year":"2003"},"cw_866735":{"cw_id":"cw_866735","cik":"1642224","company_name":"Amegy Bank N.A.","irs_number":"760028668","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"4400 POST OAK PARKWAY, HOUSTON TX 77027","country_code":"US","subdiv_code":"TX","top_parent_id":"cw_866735","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2015"},"cw_249791":{"cw_id":"cw_249791","cik":"1033476","company_name":"Amegy Bank National Association","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"4400 POST PAK PARKWAY, HOUSTON TX 77027","country_code":"US","subdiv_code":"TX","top_parent_id":"cw_249791","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2003"},"cw_385781":{"cw_id":"cw_385781","cik":"1430805","company_name":"AMEGY BANK NATIONAL ASSOCIATION","irs_number":"760028668","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"4400 POST OAK PARKWAY, HOUSTON TX 77027","country_code":"US","subdiv_code":"TX","top_parent_id":"cw_385781","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2009"},"cw_240693":{"cw_id":"cw_240693","cik":"854747","company_name":"AMERICAN BANK & TRUST CO","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"No location available","country_code":null,"subdiv_code":null,"top_parent_id":"cw_240693","num_parents":"0","num_children":"0","max_year":"2004","min_year":"2003"},"cw_284615":{"cw_id":"cw_284615","cik":"1213219","company_name":"AMERICAN BANK HOLDINGS INC","irs_number":"161645705","sic_code":"6021","industry_name":"National commercial banks","sic_sector":"6000","sector_name":"Depository institutions","source_type":"filers","raw_address":"12211 PLUM ORCHARD DR, STE 300, SILVER SPRING MD 20404","country_code":"US","subdiv_code":"MD","top_parent_id":"cw_284615","num_parents":"0","num_children":"0","max_year":"2012","min_year":"2003"},"cw_267210":{"cw_id":"cw_267210","cik":"1163747","company_name":"AMERICAN BANK INC","irs_number":"10593266","sic_code":"6021","industry_name":"National commercial banks","sic_sector":"6000","sector_name":"Depository institutions","source_type":"filers","raw_address":"4029 WEST TILGHMAN STREET, ALLENTOWN PA 18104","country_code":"US","subdiv_code":"PA","top_parent_id":"cw_267210","num_parents":"0","num_children":"0","max_year":"2007","min_year":"2003"},"cw_41809":{"cw_id":"cw_41809","cik":"1342117","company_name":"American Bank of New Jersey Employee Stock Ownership Plan","irs_number":"571177334","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"365 BROAD STREET, BLOOMFIELD NJ 07003","country_code":"US","subdiv_code":"NJ","top_parent_id":"cw_41809","num_parents":"0","num_children":"0","max_year":"2008","min_year":"2005"},"cw_8527":{"cw_id":"cw_8527","cik":"891340","company_name":"AMERICAN NATIONAL BANK","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"3033 E FIRST AVE, DENVER CO 80206","country_code":"US","subdiv_code":"CO","top_parent_id":"cw_8527","num_parents":"0","num_children":"0","max_year":"2009","min_year":"2003"},"cw_33982":{"cw_id":"cw_33982","cik":"1272164","company_name":"AMERICAN NATIONAL BANK","irs_number":"751511306","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"2732 MIDWESTERN PARKWAY, WICHITA FALLS TX 76308","country_code":"US","subdiv_code":"TX","top_parent_id":"cw_33982","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2004"},"cw_11239":{"cw_id":"cw_11239","cik":"939835","company_name":"AMERICAN NATIONAL BANK & TRUST CO","irs_number":"540121975","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"628 MAIN ST, P O BOX 191, DANVILLE VA 24543","country_code":"US","subdiv_code":"VA","top_parent_id":"cw_11239","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2003"},"cw_259031":{"cw_id":"cw_259031","cik":"1106011","company_name":"AMERICAN SAVINGS BANK EMPLOYEE STOCK OWNERSHIP PLAN","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"111 EAST MAIN STREET, NEOSHO MO 64850","country_code":"US","subdiv_code":"MO","top_parent_id":"cw_259031","num_parents":"0","num_children":"0","max_year":"2003","min_year":"2003"},"cw_622797":{"cw_id":"cw_622797","cik":"1505486","company_name":"AMERICAN TRUST & SAVINGS BANK","irs_number":"420114010","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"895 MAIN STREET, DUBUQUE IA 52004-0938","country_code":"US","subdiv_code":"IA","top_parent_id":"cw_622797","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2010"},"cw_48800":{"cw_id":"cw_48800","cik":"1388829","company_name":"AMG National Trust Bank","irs_number":"841595367","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"6501 E BELLEVIEW AVE, SUITE 400, ENGLEWOOD CO 80111","country_code":"US","subdiv_code":"CO","top_parent_id":"cw_48800","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2007"},"cw_400648":{"cw_id":"cw_400648","cik":"1470660","company_name":"AMGIC Bank Fund I LLLP","irs_number":"254514021","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"6501 EAST BELLEVIEW AVENUE, SUITE 400, ENGLEWOOD CO 80111","country_code":"US","subdiv_code":"CO","top_parent_id":"cw_400648","num_parents":"0","num_children":"0","max_year":"2009","min_year":"2009"},"cw_682900":{"cw_id":"cw_682900","cik":"1542356","company_name":"AMP Bank Ltd","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"LEVEL 24, 33 ALFRED STREET, SYDNEY C3 NSW 2000","country_code":"AU","subdiv_code":null,"top_parent_id":"cw_682900","num_parents":"0","num_children":"0","max_year":"2012","min_year":"2012"},"cw_238466":{"cw_id":"cw_238466","cik":"735035","company_name":"AMSOUTH BANK","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"50 NORTH FRONT STREET, MEMPHIS TN 38103","country_code":"US","subdiv_code":"TN","top_parent_id":"cw_238466","num_parents":"0","num_children":"0","max_year":"2007","min_year":"2006"},"cw_250996":{"cw_id":"cw_250996","cik":"1044945","company_name":"AMSOUTH BANK","irs_number":"630935103","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"1900 FIFTH AVE NORTH, BIRIMINGHAM AL 35203","country_code":"US","subdiv_code":"AL","top_parent_id":"cw_236661","num_parents":"1","num_children":"0","max_year":"2006","min_year":"2003"},"cw_252509":{"cw_id":"cw_252509","cik":"1056974","company_name":"AMSOUTH BANK OF ALABAMA","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"1900 5TH AVE NORTH, BIRMINGHAM AL 35203","country_code":"US","subdiv_code":"AL","top_parent_id":"cw_252509","num_parents":"0","num_children":"0","max_year":"2003","min_year":"2003"},"cw_239953":{"cw_id":"cw_239953","cik":"825760","company_name":"AMSOUTH BANK OF FLORIDA","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"70 NORTH BAYLEN ST, PENSACOLA FL 32501","country_code":"US","subdiv_code":"FL","top_parent_id":"cw_239953","num_parents":"0","num_children":"0","max_year":"2008","min_year":"2008"},"cw_10716":{"cw_id":"cw_10716","cik":"930149","company_name":"ANGLO IRISH BANK CORP PLC","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"STEPHEN COURT 18\/21 ST STEPHENS GREEN, DUBLIN 2 IRELAND L2","country_code":"IE","subdiv_code":null,"top_parent_id":"cw_10716","num_parents":"0","num_children":"0","max_year":"2009","min_year":"2003"},"cw_47867":{"cw_id":"cw_47867","cik":"1383906","company_name":"AOZORA BANK LTD","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"3-1, KUDAN-MINAMI 1-CHOME, CHIYODA-KU, TOKYO 102-8660 M0 00000","country_code":"JP","subdiv_code":null,"top_parent_id":"cw_47867","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2006"},"cw_728680":{"cw_id":"cw_728680","cik":"1568541","company_name":"AOZORA BANK LTD","irs_number":"132688181","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"3-1, KUDAN-MINAMI 1-CHOME, CHIYODA-KU, TOKYO M0 1028660","country_code":"JP","subdiv_code":null,"top_parent_id":"cw_728680","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2013"},"cw_248883":{"cw_id":"cw_248883","cik":"1025769","company_name":"APPALAACHIAN COMMUNITY BANK\/ TA","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"823 INDUSTRIAL BLVD, ELLIJAY GA 30540","country_code":"US","subdiv_code":"GA","top_parent_id":"cw_248883","num_parents":"0","num_children":"0","max_year":"2004","min_year":"2003"},"cw_7690":{"cw_id":"cw_7690","cik":"874962","company_name":"ARKANSAS BANKERS BANK","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"1020 WEST 2ND STREET, LITTLE ROCK AR 72201","country_code":"US","subdiv_code":"AR","top_parent_id":"cw_7690","num_parents":"0","num_children":"0","max_year":"2010","min_year":"2008"},"cw_582759":{"cw_id":"cw_582759","cik":"870860","company_name":"ARKANSAS BANKERS BANK","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"1008 WEST SECOND ST, LITTLE ROCK AR 72201","country_code":"US","subdiv_code":"AR","top_parent_id":"cw_582759","num_parents":"0","num_children":"0","max_year":"2010","min_year":"2010"},"cw_293240":{"cw_id":"cw_293240","cik":"1233767","company_name":"ARVEST BANK","irs_number":"710698207","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"125 WEST CENTRAL, SUITE 218, BENTONVILLE AR 72712","country_code":"US","subdiv_code":"AR","top_parent_id":"cw_293240","num_parents":"0","num_children":"0","max_year":"2003","min_year":"2003"},"cw_311436":{"cw_id":"cw_311436","cik":"1274624","company_name":"ASB BANK LTD","irs_number":"0","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"P O BOX 35 LEVEL 28, ASB BANK CENTER, AUCKLAND NEW ZEALAND Q2 00000","country_code":"NZ","subdiv_code":null,"top_parent_id":"cw_311436","num_parents":"0","num_children":"0","max_year":"2007","min_year":"2004"},"cw_681648":{"cw_id":"cw_681648","cik":"1540465","company_name":"Asheville Savings Bank SSB Employee Stock Ownership Plan","irs_number":"560125550","sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"11 CHURCH STREET, ASHEVILLE NC 28801","country_code":"US","subdiv_code":"NC","top_parent_id":"cw_681648","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2012"},"cw_2373":{"cw_id":"cw_2373","cik":"311669","company_name":"ASIAN DEVELOPMENT BANK","irs_number":"0","sic_code":"8888","industry_name":"Foreign
[...]
