---
http_interactions:
- request:
    method: get
    uri: https://api.littlesis.org/entities.xml?_key=bf2ddbf0538a577c3e50ca2e42e6a07384017718&q=bar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      ls-execution-time:
      - '1445049958.5218'
      etag:
      - '"c660a5870b25e5366d29dcf250265914"'
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n  <Meta>\n
        \       <TotalCount>1423</TotalCount>\n            <ResultCount>\n          <Entities>20</Entities>
        \       </ResultCount>\n            <Parameters>\n          <q>bar</q>      \n
        \       </Parameters>\n      </Meta>\n  <Data>\n    <Entities>\n  <Entity><id>33379</id><name>Texas
        Bar Foundation</name><description>Foundation supporting the State Bar of Texas</description><summary></summary><start_date></start_date><end_date></end_date><website></website><is_current></is_current><primary_type>Org</primary_type><parent_id></parent_id><updated_at>2008-12-04
        08:20:34</updated_at><uri>http://littlesis.org/org/33379/Texas_Bar_Foundation</uri><api_uri>http://api.littlesis.org/entity/33379.xml</api_uri></Entity>
        \ <Entity><id>11051</id><name>Roselyn R Bar</name><description></description><summary></summary><start_date></start_date><end_date></end_date><website></website><is_current></is_current><primary_type>Person</primary_type><parent_id></parent_id><updated_at>2010-09-03
        00:34:56</updated_at><uri>http://littlesis.org/person/11051/Roselyn_R_Bar</uri><api_uri>http://api.littlesis.org/entity/11051.xml</api_uri></Entity>
       [...]
