---
http_interactions:
- request:
    method: get
    uri: https://api.littlesis.org/lists.xml?_key=bf2ddbf0538a577c3e50ca2e42e6a07384017718&q=united
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      ls-execution-time:
      - '1445050322.5097'
      etag:
      - '"6f4f55707a649315fae917fdfa68679e"'
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n  <Meta>\n
        \           <ResultCount>\n          <Lists>17</Lists>        </ResultCount>\n
        \           <Parameters>\n          <q>united</q>      \n        </Parameters>\n
        \     </Meta>\n  <Data>\n    <Lists>\n  <List>\n    <id>79</id><name>United
        States</name><description>People and organizations with significant influence
        on the policies of the United States.</description><is_ranked>0</is_ranked><updated_at>2015-10-16
        21:27:07</updated_at>    <num_entities>194275</num_entities>\n  </List>\n
        \ <List>\n    <id>96</id><name>United Kingdom</name><description>People and
        organizations with significant influence on the policies of the United Kingdom.</description><is_ranked>0</is_ranked><updated_at>2015-08-03
        17:38:01</updated_at>    <num_entities>4694</num_entities>\n  </List>\n  <List>\n
        \   <id>146</id><name>Medical Schools in the United States</name><description></description><is_ranked>0</is_ranked><updated_at>2014-12[...]
