---
http_interactions:
- request:
    method: get
    uri: https://api.opencorporates.com/companies/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"api_version":"0.4.1","results":{"companies":[{"company":{"name":"!
        ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! AARDVARK ABLE SERVICES PTY. LTD.","company_number":"154457388","jurisdiction_code":"au","incorporation_date":"2015-04-17","dissolution_date":null,"company_type":"Australian
        Proprietary Company, Limited by Shares","registry_url":"https://connectonline.asic.gov.au/RegistrySearch/faces/landing/panelSearch.jspx?searchTab=search&searchType=OrgAndBusNm&searchText=154457388&_adf.ctrl-state=13cs8h575n_4","branch_status":null,"inactive":true,"current_status":"Deregistered","created_at":"2014-10-18T08:04:00+00:00","updated_at":"2015-08-18T03:01:13+00:00","retrieved_at":"2015-08-03T08:32:00+00:00","opencorporates_url":"https://opencorporates.com/companies/au/154457388","previous_names":[],"source":{"publisher":"Australian
        Securities & Investments Commission","url":"https://connectonline.asic.gov.au/RegistrySearch/faces/landing/panelSearch.jspx?searchTab=search&searchType=OrgAndBusNm&searchText=154457388&_adf.ctrl-state=13cs8h575n_4","retrieved_at":"2015-08-03T08:32:00+00:00"},"registered_address_in_full":null}},{"company":{"name":"!
        ! ! ! ! ! A A A A A A A AA AUSTECH COMMS PTY. LTD.","company_number":"154081535","jurisdiction_code":"au","incorporation_date":"2014-03-28","dissolution_date":null,"company_type":"Australian
        Proprietary Company, Limited by Shares","registry_url":"https://connectonline.asic.gov.au/RegistrySearch/faces/landing/panelSearch.jspx?searchTab=search&searchType=OrgAndBusNm&searchText=154081535&_adf.ctrl-state=13cs8h575n_4","branch_status":null,"inactive":true,[...]
