---
http_interactions:
- request:
    method: get
    uri: https://api.opencorporates.com/corporate_groupings/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"api_version":"0.4.1","results":{"page":1,"per_page":30,"total_pages":28,"total_count":813,"corporate_groupings":[{"corporate_grouping":{"name":"scottish
        and southern energy","created_at":"2011-05-30T17:33:44+00:00","updated_at":"2011-06-21T13:47:02+00:00","opencorporates_url":"https://opencorporates.com/corporate_groupings/scottish+and+southern+energy","wikipedia_id":"Scottish_and_Southern_Energy"}},{"corporate_grouping":{"name":"kcom","created_at":"2011-05-30T17:33:44+00:00","updated_at":"2011-06-21T13:47:02+00:00","opencorporates_url":"https://opencorporates.com/corporate_groupings/kcom","wikipedia_id":"KCOM_Group"}},{"corporate_grouping":{"name":"premier
        foods","created_at":"2011-05-30T17:33:44+00:00","updated_at":"2011-06-21T13:47:02+00:00","opencorporates_url":"https://opencorporates.com/corporate_groupings/premier+foods","wikipedia_id":"Premier[...]
