---
http_interactions:
- request:
    method: get
    uri: https://api.openoil.net/concession/search?apikey=oo_e6w89rd34mowpuryn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"per_page": 100, "results": [{"status": "", "url_wiki": "http://repository.openoil.net/wiki/Brazil",
        "name": "BAR-M-340", "licensees": ["BG Brasil"], "country": "BR", "url_api":
        "http://api.openoil.net/concession/BR/BAR-M-340", "source_document": "http://www.anp.gov.br/?pg=57559",
        "retrieved_date": "2014-08-12", "details": {"Operador": "BG Brasil", "Vencimento1\u00ba":
        "06.08.2018", "Contrato": "BAR-M-340_R11", "Observacao": "", "Concession\u00e1rios":
        "*BG Brasil - 100%"}, "identifier": "BR/BAR-M-340", "type": "", "source_date":
        "2014-01-12"}, {"status": "", "url_wiki": "http://repository.openoil.net/wiki/Brazil",
        "name": "REC-T-106", "licensees": ["Alvopetro"], "country": "BR", "url_api":
        "http://api.openoil.net/concession/BR/REC-T-106", "source_document": "http://www.anp.gov.br/?pg=57559",
        "retrieved_date": "2014-08-12", "details": {"Operador": "Alvopetro", "Vencimento1\u00ba":
        "30.08.2016", "Contrato": "REC-T-106_R11", "Observacao": "", "Concession\u00e1rios":
        "*Alvope[...]
