---
http_interactions:
- request:
    method: get
    uri: https://api.opencorporates.com/officers/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"api_version":"0.4.1","results":{"page":1,"per_page":30,"total_pages":3813672,"total_count":114410155,"officers":[{"officer":{"id":108907966,"uid":null,"name":"
        \"M HOLDING\" LIMITED LIABILITY COMPANY","jurisdiction_code":"gb","position":"llp
        member","retrieved_at":"2014-10-18T18:23:33+00:00","opencorporates_url":"https://opencorporates.com/officers/108907966","start_date":"2011-11-29","end_date":"2012-01-12","occupation":null,"current_status":"RESIGNED","inactive":true,"company":{"name":"PRUDENCIA
        LLP","jurisdiction_code":"gb","company_number":"OC303222","opencorporates_url":"https://opencorporates.com/companies/gb/OC303222"}}},{"officer":{"id":108907967,"uid":null,"name":"
        \"SCS\" LTD.","jurisdiction_code":"gb","position":"llp member","retrieved_at":"2014-10-18T18:23:34+00:00","opencorporates_url":"https://opencorporates.com/officers/108907967","start_date":"2011-11-29","end_date":"2012-01-12","occupation":null,"current_status":"RESIGNED","inactive":true,"company":{"name":"PRUDENCIA
        LLP","jurisdiction_code":"gb","comp[...]
